
*{
    margin: 100;
    color: white;
    font-size: 0,1rem;
  
  }
  body{
    overflow: hidden;
  }
  
 
    .center
  {   
    width: 545px;
    height: 420px;
    background: blue;
    position: absolute; 
    left: 50%;
    top: 25%;
    transform: translate(-50%,-50%);
    padding: 10px;
    
      
  }
